{% extends "base.html" %}

{% block content %}
    <h1>
      Author List
      <a style="float:right" class="btn btn-primary" href="{% url 'catalog:author-create' %}">+</a>
    </h1>

    {% if author_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Pseudonym</th>
        </tr>

        {% for author in author_list %}
          <tr>
            <td>
              <a href="{{ author.get_absolute_url }}">{{ author.id }}</a>
            </td>
            <td>
              {{ author.first_name }} {{ author.last_name }}
            </td>
            <td>
              {{ author.username }}
            </td>
            <td>
              {{ author.pseudonym|default_if_none:"" }}
            </td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <p>There are no authors</p>
  {% endif %}
{% endblock %}
